<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <% include('nav.ejs') %>
    <div class="white-bg">
      <% for(let i=0; i<글목록.length; i++){ %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%= 글목록[i]._id %>"> <%= 글목록[i].title %> </a>
        </h4>
        <a href="/edit/<%= 글목록[i]._id %>">✏️</a><br />
        <span class="delete" data-id="<%= 글목록[i]._id %>">🗑️</span>

        <p><%= 글목록[i].content %></p>
      </div>
      <% } %>
    </div>
    <script>
      fetch("/URL")
        .then((r) => {
          if (r.status == 200) {
            return r.json();
          } else {
            //서버가 에러코드전송시 실행할코드
          }
        })
        .then((result) => {
          document
            .querySelectorAll(".delete")[0]
            .addEventListener("click", function (e) {
              //지금 클린한 요소에 숨겨져있던 데이터를 가져온다
              e.target.dataset.id;
              fetch("/delete?docid=" + e.target.dataset.id, {
                method: "DELETE",
              })
                .then((r) => r.text())
                .then((r) => {
                  console.log(r);
                });
            });
        })
        .catch((error) => {
          //인터넷문제 등으로 실패시 실행할코드
          console.log(error);
        });
    </script>
  </body>
</html>
