<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <% include('nav.ejs') %>
    <div class="white-bg">
      <% for(let i=0; i<글목록.length; i++){ %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%= 글목록[i]._id %>"> <%= 글목록[i].title %> </a>
        </h4>
        <a href="/edit/<%= 글목록[i]._id %>">✏️</a><br />
        <span class="delete">🗑️</span>

        <p><%= 글목록[i].content %></p>
      </div>
      <% } %>
    </div>
    <script>
      document
        .querySelectorAll(".delete")[0]
        .addEventListener("click", function () {
          fetch("/delete?docid=<%=글목록[0]._id%>", {
            method: "DELETE",
          });
        });
    </script>
  </body>
</html>
