<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <% include('nav.ejs') %>
    <input class="search" />
    <div class="white-bg">
      <% for(let i=0; i<글목록.length; i++){ %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%= 글목록[i]._id %>"> <%= 글목록[i].title %> </a>
        </h4>
        <a href="/edit/<%= 글목록[i]._id %>">✏️</a><br />
        <span class="delete" data-id="<%= 글목록[i]._id %>">🗑️</span>

        <p><%= 글목록[i].content %></p>
      </div>
      <% } %>
    </div>

    <a href="/list/next/<%= 글목록[글목록.length-1]._id%>">next</a>
    <script>
      const deleteButtons = document.querySelectorAll(".delete");
      deleteButtons.forEach(function (button) {
        button.addEventListener("click", function (e) {
          const docId = e.target.dataset.id;
          fetch("/delete?docid=" + docId, {
            method: "DELETE",
          })
            .then((r) => {
              if (r.status === 200) {
                e.target.parentElement.style.display = "none";
              } else {
                console.error("삭제에 실패했습니다.");
              }
            })
            .catch((error) => {
              console.error(error);
            });
        });
      });
    </script>
  </body>
</html>
